@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #d328c5;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

h3, h2 {
    color: white;
    margin: 10px 0 20px;
    text-align: center;
}

.container {
    width: 600px;
}

textarea {
    border: none;
    display: block;
    width: 100%;
    height: 100px;
    font-family: inherit;
    padding: 10px;
    margin-bottom: 0 0 20px;
    font-size: 16px;
}

.tag {
    background-color: #ffa500;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    display: inline-block;
    font-size: 14px;
}

.tag.highlight {
    background-color: #89059b;
}